
/* base page setup -------------------------------- */

/* Images ----------------------------------------- */
.logo {
max-width: 50%;
max-height: 50%;

} 

.owner {
border-radius: 45%;
max-width: 100px;
max-height: 100px;
margin-left: 15px;
border-color: solid rgb(15, 127, 219) 10px 10px;
}


/* Pseudo-elements -------------------------------- */

.intro::first-line {
    font-weight: bold;
    font-size: 1.4em;
 }
 
 /* Media Queries ---------------------------------- */

 /*
 @media-screen: {
    max-width: 350px;
    background-color: eggshell;
 }
 */