
/* base page setup -------------------------------- */

/* Images ----------------------------------------- */
.logo () {

}

.owner {

}
/* Pseudo-elements -------------------------------- */

.intro::first-line {
    font-weight: bold;
    font-size: 1.4em;
 }
 
 /* Media Queries ---------------------------------- */

 @media-screen: {
    max-width: 350px;
    background-color: eggshell;
 }