
/* base page setup -------------------------------- */
body {
    box-sizing: border-box;
    background-color: rgb(178, 248, 182);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}
p {
    margin: 1rem;
}

h1 {    
    background-color: rgb(24, 94, 24);
    font: 40px, white, bold, italic;
}

h2 {
    font-size: 30px;
    float: left;
}

h3 {
    font-size: 28px;
    Float: left; 
    margin: 1rem;
}
h4 {
    font-size: 25px;
    Float: left; 
    margin: 1rem;
}

ul {
    margin-top: 1rem;
}
/*
nav: {

}
*/

/* Images ----------------------------------------- */
.logo {
    max-width: 50%;
    max-height: 50%;
} 

.owner {
    border-radius: 45%;
    max-width: 100px;
    max-height: 100px;
    margin-left: 15px;
}

.logo,
.owner {
    border: solid rgb(4, 58, 31) 10px 10px;     
}


/* Pseudo-elements -------------------------------- */

.intro::first-line {
    font-color: rgb(8, 36, 8);
    font-weight: bold;
    font-size: 1.4em;
 }
 
 /* Media Queries ---------------------------------- */

 /*
 @media: {
    max-width: 350px;
    background-color: eggshell;
 }
 */